/* Navigation */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    color: #555;
}

/* Header */
header {
    background-color: #000000;
    padding: 10px;
    height: 50px;
}

/* Main */
main {
    margin: 20px auto;
    width: 600px;
}

.container {
    border: 1px solid #ccc;
    padding: 20px;
}

h1 {
    font-size: 24px;
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
}

input[type="text"], select, input[type="date"], input[type="file"] {
    width: 250px;
    padding: 5px;
    border: 1px solid #ccc;
}

select {
    width: 262px;
    padding: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
}

input[type="submit"]:hover {
    background-color: #555;
}

footer {
    height: min-content;
    background-color: #000000;
    color: #fffcfc;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  